ONE    ICON     BMP\OOHG.ICO
UNO    BITMAP   BMP\1.BMP
DOS    BITMAP   BMP\2.BMP
TRES   BITMAP   BMP\3.BMP
CUATRO BITMAP   BMP\4.BMP
CINCO  BITMAP   BMP\5.BMP
SEIS   BITMAP   BMP\6.BMP
SIETE  BITMAP   BMP\7.BMP
