/*
 * This resource file is part of RC File Sample n° 1
 * Author: Fernando Yurisich <fyurisich@oohg.org>
 * Licensed under The Code Project Open License (CPOL) 1.02
 * See <http://www.codeproject.com/info/cpol10.aspx>
 *
 * Visit us at https://github.com/oohg/samples
 *
 */

// The first ICON in alphabetical order is used for the app
APPICON   ICON      OOHG.ICO

// Images to display in IMAGE controls
DEMO1     BITMAP    DEMO.BMP
DEMO2     GIF       DEMO.GIF
DEMO3     JPG       DEMO.JPG
DEMO4     PNG       DEMO.PNG
DEMO5     TIFF      DEMO.TIF
DEMO6     ICON      DEMO.ICO

// Keywords (ICON, BITMAP, etc.) must be in uppercase.

// Last line must end with a CR+LF

/*
 * EOF
 */
