
AGENDA       ICON     IMAGES\AGENDA.ICO
AGENDA       BITMAP   IMAGES\IMG_AGEN.BMP
TABELAS      BITMAP  IMAGES\IMG_TAB.BMP
COMPROMISSO  BITMAP   IMAGES\IMG_COMP.BMP
MAIL         BITMAP  IMAGES\IMG_MAIL.BMP
XHELP         BITMAP  IMAGES\IMG_HELP.BMP
PRINT        BITMAP   IMAGES\IMG_PRINT.BMP
MINIGUI      AVI     IMAGES\MINIGUI.AVI


