
B_CHECK   BITMAP  CHECK.BMP
B_ALBAR   BITMAP  ALBARAN.BMP
I_CHECK   ICON    CHECK.ICO
I_EXIT    ICON    EXIT.ICO
J_OOHG    JPG     OOHG.JPG
G_OOHG    GIF     OOHG.GIF
INTL_NO   ICON    INTL_NO.ICO
I_INFO1   ICON    INFO1.ICO
I_INFO2   ICON    INFO2.ICO
I_GLOBE   ICON    GLOBE.ICO
