/*
 * Image Sample # 13
 * Author: Fernando Yurisich <fyurisich@oohg.org>
 * Licensed under The Code Project Open License (CPOL) 1.02
 * See <http://www.codeproject.com/info/cpol10.aspx>
 *
 * This sample shows how to print an image using its handle.
 *
 * Visit us at https://github.com/oohg/samples
 *
 * You can download oohg.jpg and s013.rc from:
 * https://github.com/oohg/samples/tree/master/image
 */

HARBOUR  GIF   "demo.gif"
OOHG     JPEG  "oohg.jpg"
